apiVersion: v1
kind: Service
metadata:
  name: {{ include "samba.fullname" . }}
  labels:
    {{- include "samba.labels" . | nindent 4 }}
  namespace: {{ .Release.Namespace | quote }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.ports.tcp139 }}
      targetPort: tcp139
      name: tcp139
      protocol: TCP
    - port: {{ .Values.service.ports.udp137 }}
      targetPort: udp137
      name: udp137
      protocol: UDP
    - port: {{ .Values.service.ports.udp138 }}
      targetPort: udp138
      name: udp138
      protocol: UDP
    - port: {{ .Values.service.ports.tcp445 }}
      targetPort: tcp445
      name: tcp445
      protocol: TCP
  selector:
    {{- include "samba.selectorLabels" . | nindent 4 }}
